<div class="app-container">
  <header class="navbar">
    <h1>⚡ FitFlow Lite Admin</h1>
    
    <button class="btn-neon" *ngIf="vistaActual === 'lista'" (click)="cambiarVista('formulario')">
      + Nuevo Miembro
    </button>
    
    <button class="btn-neon-danger" *ngIf="vistaActual === 'formulario'" (click)="cambiarVista('lista')">
      Volver a la Lista
    </button>
  </header>

  <main class="content">
    
    <div *ngIf="vistaActual === 'lista'" class="card">
      <h2>Miembros Activos</h2>
      <app-member-list (editarMiembro)="cambiarVista('formulario', $event)"></app-member-list>
    </div>

    <div *ngIf="vistaActual === 'formulario'" class="card">
      <h2>Gestión de Miembro</h2>
      <!-- Visualizacion de la regresion de la pagina / Evento Padre-->
      <app-member-form [miembroAEditar]="miembroSeleccionado" (volver)="cambiarVista('lista')"></app-member-form>
    </div>

  </main>
</div>